.hero-container {
  background-color: #0a0a0a;
  width: 100%;
  margin: 0;
  background-image: url("../images/Artwork.svg");
  padding-bottom: 50px;
}
.container > img {
  width: 1520px;
  background-size: cover;
  background-repeat: no-repeat;
}
.MuiButton-root {
  background-color: #04db86;
  color: #fff;
}
.hero-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-heading {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 120%;
  /* or 115px */

  padding-left: 20%;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
}

.popular-services {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  font-style: uppercase;
  /* or 86px */

  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
}
